<link type="text/css" rel="stylesheet" href="assets/sidebar.css">

<div id="Sidebar">
    <img src="assets/ohglogo.svg">
    <ul>
        <li><a href="/profilteacher">Profil</a></li>
        <li><a href="/timetable">Stundenplan</a></li>
        <li><a href="/teacher">Lehrer</a></li>
        <li><a href="/liststeacher">Listen</a></li>
    </ul>
</div>