<link type="text/css" rel="stylesheet" href="assets/sidebar.css">

<script>
    function openPage(url) {
        window.location.href = url;
    }
</script>

<div id="Sidebar">
    <img src="assets/ohglogo.svg">
    <ul>
        <li><a href="/profilteacher">Profil</a></li>
        <li><a href="/teacherteacher">Lehrer</a></li>
        <li><a href="/liststeacher">Listen</a></li>
    </ul>

    <div id="logout" onmousedown="window.location.href = '/logout'"><- Ausloggen</div>
</div>