<html>
<head>
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="assets/loginmobil.css">
    <link type="text/css" rel="stylesheet" href="assets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<body style="background-color: rgb(242, 243, 247);">

<script>
    function openPage(url) {
        window.location.href = url;
    }
</script>

<div id="loginbox">
    <img src="assets/ohglogo.svg">
    <h2>Login</h2>
    <p style="color: red; text-align: center; width: 80%"><%=error%></p>
    <form action="/login" method="post">
        <input type="text" name="username" autocomplete="off"><p>Username</p><br>
        <input type="password" name="password" autocomplete="off"><p>Password</p> <br>
        <input id="loginbutton" type="submit" value="Login">
        <p onmousedown="openPage('/register')" class="switch">Noch keinen Account?</p>
    </form>
</div>
</body>
</html>