<html>
    <head>
        <title>Login</title>
    </head>

    <body>
        <h1>Login</h1>
        <p><%= error%></p>
        <form action="/login" method="post">
            <p>Usename</p><input type="text" name="username"><br>
            <p>Password</p> <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </body>

</html>