<html>
<head>
    <title>Profil</title>
    <link type="text/css" rel="stylesheet" href="assets/main.css">
    <link type="text/css" rel="stylesheet" href="assets/list.css">
    <link type="text/css" rel="stylesheet" href="assets/teacherprofil.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<body>


<% include partials/sidebarteacher.ejs%>
<h1 id="heading">Hallo, <%= username%></h1>
<div id="contentprofil">


    <div id="courses">
        <h2>Kurse</h2>
        <% courses.forEach(function (item, index) { %>
            <h2 style="color: <%= item.subjectColor%>"><%=item.subjectName%> <%= item.courseYear%></h2>
        <% });%>
    </div>

</div>
</body>
</html>